.contact-page {
  background-image: url("../assets/images/contact.jpg");
}

.contact {
  width: 100%;
}

.contact-black {
  display: none;
}

.contact .container {
  display: flex;
  flex-direction: row;
}

.contact-col {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 50px 0;
}

.contact-col .contact-content {
  padding-right: 50px;
}

.contact-col-black {
  width: 50%;
  padding: 50px 0;
  background-color: var(--dark);
  color: var(--light);
}

.contact-col-black::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 1500px;
  background-color: var(--dark);
  z-index: -99;
}

.contact-col-black .contact-content {
  padding-left: 50px;
}

.contact-content {
  /*width: 570px;*/
}

.contact-info {
  margin-bottom: 50px;
}

.contact-title {
  font-size: 25px;
  margin: 0 0 20px;
}

.contact-description {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: flex;
  align-items: center;
}

.contact-description i {
  color: var(--primary);
  font-size: 25px;
  text-align: center;
  width: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.contact-form input:not([type=submit]),
.contact-form textarea {
  width: 100%;
  margin-bottom: 15px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--light);
  outline: none;
  color: var(--light);
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  resize: none;
}

.contact-form input:not([type=submit]):hover,
.contact-form textarea:hover {
  border-color: var(--primary);
}

.contact-form input:not([type=submit]):focus,
.contact-form textarea:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--dark);
}

.contact-form .btn {
  align-self: flex-end;
}

#map {
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  /*.contact .container {
    display: flex;
    flex-direction: column;
  }*/

  .contact-black {
    display: block;
    width: 100%;
    background-color: var(--dark);
    color: var(--light);
  }

  .contact-col {
    display: flex;
    justify-content: center;
    width: 100%;
    }
  
  .contact-black .contact-col {
    padding-bottom: 0;
  }

  .contact-black .contact-title {
    text-align: center;
  }
  
  .contact-col .contact-content {
    padding: 10px;
    width: 100%;
  }
  
  .contact-col-black {
    display: none;
  }
    /*width: 100%;
    padding: 50px 5%;

  .contact-col-black::before {
    content: "";
    display: none;
}
.contact-col-black .contact-content {
  padding-left: 0px;
}
*/

  .contact-info {
    text-align: center;
    margin-bottom: 0;
  }

  .contact-description {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .contact-description {
    font-size: 14px;
  }
}