body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 25px;
  margin: 0 0 30px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  margin: 0 0 20px;
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease;
}
::-webkit-input-placeholder {
  color: var(--dark);
}
::-moz-placeholder {
  color: var(--dark);
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.yellow {
  color: var(--primary);
}

.page-top {
  display: flex;
  max-width: 100%;
  height: 550px;
  color: var(--light);
  background-color: var(--dark);
  background-size: cover;
  background-position: center center;
}

.page-top .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-top-content {
  width: 55%;
  padding-top: 50px;
}

.page-top-title {
  margin: 0 0 30px;
  font-size: 100px;
  letter-spacing: -4px;
  color: var(--primary);
}

.page-top-description {
  margin: 0;
  font-size: 15px;
  line-height: 2;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .page-top-title {
    font-size: 62px;
    letter-spacing: -5px;
  }

}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .page-top {
    height: calc(50vh + 90px);
  }

  .page-top .container {
    justify-content: center;
    text-align: center;
  }

  .page-top-title {
    font-size: 60px;
    letter-spacing: -2px;
  }

  .page-top-content {
    width: 90%;
  }

  .page-top-description {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .page-top {
    height: calc(70vh + 90px);
  }

  .page-top-title {
    font-size: 36px;
  }

}

@media (max-width: 320px) {
  .page-top-title {
    font-size: 32px;
  }
}