.reviews-page {
  background-image: url("../assets/images/reviews.jpg");
}

.reviews {
  padding: 80px 0;
  background: var(--primary);
}

.reviews-item {
  text-align: center;
  outline: none;
}

.reviews-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title {
  margin: 0;
  font-size: 50px;
}
.reviews-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: right;
}

.reviews-description {
  position: relative;
  margin: 80px auto 0;
  width: 600px;
}
.reviews-description::before {
  content: "“";
  position: absolute;
  top: -60px;
  left: 50%;
  margin-left: -20px;
  font-size: 84px;
  font-weight: bold;
  line-height: 1;
  height: 50px;
}

@media (max-width: 768px) {
  .reviews-description {
    width: 80%;
  }

  .reviews-name {
    width: 80%;
  }

  .reviews-subtitle {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .slick-slide img {
    margin: 0 auto;
    width: 80%;
    height: auto;
  }

  .reviews-title {
    font-size: 30px;
  }

  .reviews-subtitle {
    font-size: 12px;
  }

  .reviews-description {
    font-size: 14px;
  }
}