<!DOCTYPE html>
<html lang="pt-br">
<%- include("../partials/head", {page: 'Events'}) %>

	<body>

		<%- include("../partials/header") %>

			<main>
				<section class="page-top events-page">
					<div class="container">
						<div class="page-top-content">
							<h1 class="page-top-title">Events</h1>
							<p class="page-top-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam quod eaque
								veniam facilis voluptate labore placeat distinctio sunt voluptas dolor, asperiores fugiat similique
								alias.</p>
						</div>
					</div>
				</section>

				<article class="events">
					<div class="container">
						<article class="events-item">
							<figure class="events-photo">
								<img src="assets/images/event1.jpg">
							</figure>

							<div class="events-content">
								<header class="events-header">
									<h2 class="events-title">Party 1</h2>
									<div class="events-date">
										<i class="far fa-clock"></i> Wed 15 December 2023 - 11pm
									</div>
									<div class="events-info">
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quasi possimus, tempora corrupti.
										</p>
										<a href="#" class="btn btn2">Buy tickets</a>
									</div>
								</header>

								<div class="events-description">
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, neque repudiandae modi
										fugit mollitia sequi deserunt praesentium laboriosam placeat vel, possimus nesciunt architecto vitae
										ipsum consectetur provident accusamus, delectus ut?Veniam magnam a quia molestias inventore animi
										asperiores earum error. Cumque, quas sed? Voluptatem debitis ipsam odio doloremque id veniam culpa
										rerum vero omnis saepe, totam explicabo minus molestiae nemo.</p>

									<footer class="events-footer">
										<address class="events-address">
											<i class="fas fa-map-marker-alt"></i>
											<div class="events-local">
												<h3>3 Arena</h3>
												<p>N Wall Quay, North Dock, Dublin 1</p>
											</div>
										</address>

										<a href="#" class="btn btn4">Directions</a>
									</footer>
								</div>
							</div>
						</article>

						<article class="events-item">
							<figure class="events-photo">
								<img src="assets/images/event2.jpg">
							</figure>

							<div class="events-content">
								<header class="events-header">
									<h2 class="events-title">Party 2</h2>
									<div class="events-date">
										<i class="far fa-clock"></i> Wed 15 December 2023 - 11pm
									</div>
									<div class="events-info">
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quasi possimus, tempora corrupti.
										</p>
										<a href="#" class="btn btn2">Buy tickets</a>
									</div>
								</header>

								<div class="events-description">
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, neque repudiandae modi
										fugit mollitia sequi deserunt praesentium laboriosam placeat vel, possimus nesciunt architecto vitae
										ipsum consectetur provident accusamus, delectus ut?Veniam magnam a quia molestias inventore animi
										asperiores earum error. Cumque, quas sed? Voluptatem debitis ipsam odio doloremque id veniam culpa
										rerum vero omnis saepe, totam explicabo minus molestiae nemo.</p>

									<footer class="events-footer">
										<address class="events-address">
											<i class="fas fa-map-marker-alt"></i>
											<div class="events-local">
												<h3>3 Arena</h3>
												<p>N Wall Quay, North Dock, Dublin 1</p>
											</div>
										</address>

										<a href="#" class="btn btn4">Directions</a>
									</footer>
								</div>
							</div>
						</article>

						<article class="events-item">
							<figure class="events-photo">
								<img src="assets/images/event3.jpg">
							</figure>

							<div class="events-content">
								<header class="events-header">
									<h2 class="events-title">Party 3</h2>
									<div class="events-date">
										<i class="far fa-clock"></i> Wed 15 December 2023 - 11pm
									</div>
									<div class="events-info">
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quasi possimus, tempora corrupti.
										</p>
										<a href="#" class="btn btn2">Buy tickets</a>
									</div>
								</header>

								<div class="events-description">
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, neque repudiandae modi
										fugit mollitia sequi deserunt praesentium laboriosam placeat vel, possimus nesciunt architecto vitae
										ipsum consectetur provident accusamus, delectus ut?Veniam magnam a quia molestias inventore animi
										asperiores earum error. Cumque, quas sed? Voluptatem debitis ipsam odio doloremque id veniam culpa
										rerum vero omnis saepe, totam explicabo minus molestiae nemo.</p>

									<footer class="events-footer">
										<address class="events-address">
											<i class="fas fa-map-marker-alt"></i>
											<div class="events-local">
												<h3>3 Arena</h3>
												<p>N Wall Quay, North Dock, Dublin 1</p>
											</div>
										</address>

										<a href="#" class="btn btn4">Directions</a>
									</footer>
								</div>
							</div>
						</article>

						<article class="events-item">
							<figure class="events-photo">
								<img src="assets/images/event4.jpg">
							</figure>

							<div class="events-content">
								<header class="events-header">
									<h2 class="events-title">Party 4</h2>
									<div class="events-date">
										<i class="far fa-clock"></i> Wed 15 December 2023 - 11pm
									</div>
									<div class="events-info">
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quasi possimus, tempora corrupti.
										</p>
										<a href="#" class="btn btn2">Buy tickets</a>
									</div>
								</header>

								<div class="events-description">
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, neque repudiandae modi
										fugit mollitia sequi deserunt praesentium laboriosam placeat vel, possimus nesciunt architecto vitae
										ipsum consectetur provident accusamus, delectus ut?Veniam magnam a quia molestias inventore animi
										asperiores earum error. Cumque, quas sed? Voluptatem debitis ipsam odio doloremque id veniam culpa
										rerum vero omnis saepe, totam explicabo minus molestiae nemo.</p>

									<footer class="events-footer">
										<address class="events-address">
											<i class="fas fa-map-marker-alt"></i>
											<div class="events-local">
												<h3>3 Arena</h3>
												<p>N Wall Quay, North Dock, Dublin 1</p>
											</div>
										</address>

										<a href="#" class="btn btn4">Directions</a>
									</footer>
								</div>
							</div>
						</article>
					</div>
				</article>
			</main>

		<%- include("../partials/footer") %>
	</body>
</html>