<!DOCTYPE html>
<html lang="pt-br">
	<%- include("../partials/head") %>
		<body>
		
		<%- include("../partials/header") %>

		<section class="banners">
			<div class="banner" style="background-image: url('assets/images/banner.jpg')">
				<div class="container">
					<div class="banner-content">
						<p><span class="yellow">Next event</span> - Friday 25, September 2023</p>
						<p><span class="yellow">Next event</span><br>Friday 25, September 2023</p>
						<h2><span class="yellow">Creative</span> Minds</h2>
						<a href="#" class="btn">More details</a>
					</div>
				</div>
			</div>

			<div class="banner" style="background-image: url('assets/images/banner2.jpg')">
				<div class="container">
					<div class="banner-content">
						<p><span class="yellow">Next event</span> - Friday 25, September 2023</p>
						<p><span class="yellow">Next event</span><br>Friday 25, September 2023</p>
						<h2><span class="yellow">Fast</span> Forward</h2>
						<a href="#" class="btn">More details</a>
					</div>
				</div>
			</div>

			<div class="banner" style="background-image: url('assets/images/banner3.jpg')">
				<div class="container">
					<div class="banner-content">
						<p><span class="yellow">Next event</span> - Friday 25, September 2023</p>
						<p><span class="yellow">Next event</span><br>Friday 25, September 2023</p>
						<h2><span class="yellow">Show</span> Events</h2>
						<a href="#" class="btn">More details</a>
					</div>
				</div>
			</div>
		</section>

		<section class="statistics">
			<div class="container">
				<div class="statistics-item">
					<h2>+ than <span class="counter">500</span> <small>Held events</small></h2>
				</div>

				<div class="statistics-item">
					<h2>+ than <span class="counter">1,000.000</span> <small>tickets sold</small></h2>
				</div>

				<div class="statistics-item">
					<h2>+ than <span class="counter">300</span> <small>companies served</small></h2>
				</div>
			</div>
		</section>

		<section class="institutional">
			<div class="container">
				<figure class="institutional-image">
					<img src="assets/images/institutional.jpg">
				</figure>

				<div class="institutional-content">
					<h3>We make your event happen</h3>
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit daym, sed daym nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

					<a href="#" class="btn btn2">More details</a>
				</div>
			</div>
		</section>

		<section class="parallax" data-parallax="scroll" data-image-src="assets/images/parallax.jpg">
			<div class="container">
				<div class="parallax-content">
					<h2>
						<small>You inform the theme and we plan an event with technology and</small> <span class="yellow">much +</span> fun
					</h2>
					<a href="#" class="btn btn3">Get quote</a>
				</div>
			</div>
		</section>

		<%- include("../partials/footer") %>
	</body>
</html>