<!DOCTYPE html>
<html lang="pt-br">
<%- include("../partials/head", {page: 'Reviews'}) %>

  <body>

    <%- include("../partials/header") %>

      <main>
        <section class="page-top reviews-page">
          <div class="container">
            <div class="page-top-content">
              <h1 class="page-top-title">Reviews</h1>
              <p class="page-top-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam quod eaque
                veniam facilis voluptate labore placeat distinctio sunt voluptas dolor, asperiores fugiat similique
                alias.</p>
            </div>
          </div>
        </section>

        <article class="reviews">
          <div class="container">
            <article class="reviews-item">
              <header class="reviews-header">
                <figure class="reviews-photo">
                  <img src="assets/images/depoiment1.png">
                </figure>

                <div class="reviews-name">
                  <h2 class="reviews-title">Alberto Saldanha</h2>
                  <h3 class="reviews-subtitle">CEO - Magbank</h3>
                </div>
              </header>

              <p class="reviews-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit temporibus quod porro reiciendis eum
                animi error asperiores inventore repellendus ducimus quos quae cum at ab praesentium earum, mollitia
                quam repellat?
              </p>
            </article>
            <article class="reviews-item">
              <header class="reviews-header">
                <figure class="reviews-photo">
                  <img src="assets/images/depoiment2.png">
                </figure>

                <div class="reviews-name">
                  <h2 class="reviews-title">Mariana Bastos</h2>
                  <h3 class="reviews-subtitle">Head of marketing - Pepsico</h3>
                </div>
              </header>

              <p class="reviews-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit temporibus quod porro reiciendis eum
                animi error asperiores inventore repellendus ducimus quos quae cum at ab praesentium earum, mollitia
                quam repellat?
              </p>
            </article>
            <article class="reviews-item">
              <header class="reviews-header">
                <figure class="reviews-photo">
                  <img src="assets/images/depoiment3.png">
                </figure>

                <div class="reviews-name">
                  <h2 class="reviews-title">Guilherme Silva</h2>
                  <h3 class="reviews-subtitle">CEO - Zopa Clothing</h3>
                </div>
              </header>

              <p class="reviews-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit temporibus quod porro reiciendis eum
                animi error asperiores inventore repellendus ducimus quos quae cum at ab praesentium earum, mollitia
                quam repellat?
              </p>
            </article>
          </div>
        </article>
      </main>

      <%- include("../partials/footer") %>
  </body>

</html>