.company-page {
    background-image: url("../images/company.jpg");
}

.company-content {
    padding-top: 40px;
}

.company-content .container {
    display: flex;
    align-items: center;
}

.company-man img {
    display: block;
    margin-right: -50px;
}

.company-description {
    padding: 0 100px 0 60px;
}

.company-customer {
    background-color: var(--primary);
    padding: 60px 0 120px;
    text-align: center;
}

.company-customer h2 {
    padding-bottom: 60px;
}

.company-video iframe {
    padding: 90px 60px;
}

.company-video .container {
    text-align: center;
}
