/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ (css tricks site referencia)

    https://flexboxfroggy.com/

.elementoPai {
    display: flex; 
    justify-content: flex-start | flex-end; **mais usado
    flex-wrap: wrap; serve para quebrar para outra linha quando termina espaço
    flex-direction: row | row-reverse;
    align-items: strech | flex-start | flex-end | baseline | center **mais usado
}

.elementoFilho {
    align-self: stretch;
    order: 2;

}