body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--dark);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--dark);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.yellow {
    color: var(--primary);
}