body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 25px;
  margin: 0 0 30px;
}

p {
  font-size: 16px;
  margin: 0 0 20px;
  line-height: 1.8;
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-input-placeholder {
  color: var(--dark);
}

::-moz-placeholder {
  color: var(--dark);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.yellow {
  color: var(--primary);
}

.page-top {
  display: flex;
  height: 550px;
  background-color: var(--dark);
  color: var(--light);
  background-size: cover;
  background-position: center center;
}

.page-top .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page-top-content {
  width: 50%;
}

.page-top-title {
  margin: 0 0 30px;
  font-size: 120px;
  color: var(--primary);
  text-transform: lowercase;
  letter-spacing: -4px;
}

.page-top-title::before {
  content: ".";
}

.page-top-description {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  color: #cccccc;
}