/* Banner */
.banner {
  height: 700px;
  width: 100%;
  background-color: var(--dark);
  background-position: center center;
  background-size: cover;
  display: flex !important;
  align-items: center;
  outline: none;
}

.banner .container {
  display: flex;
  justify-content: flex-end;
}

.banner-content {
  width: 620px;
  margin-top: 80px;
  color: var(--light);
}

.banner-content p {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}

.banner-content p:nth-child(2) {
  display: none;
}

.banner-content h2 {
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold !important;
  margin: 20px 0;
}

.banners .prev-arrow {
  left: 30px;
}

.banners .next-arrow {
  right: 30px;
}

/* Statistics */
.statistics {
  background: var(--primary);
  padding: 80px 0;
}

.statistics .container {
  display: flex;
  justify-content: space-between;
}

.statistics-item {
  display: inline-block;
  margin: auto 50px;
}

.statistics-item h2 {
  margin: 0;
  color: var(--light);
  font-size: 35px;
  text-transform: uppercase;
}

.statistics-item small {
  font-size: 20px;
  display: block;
} 

/* Institutional */
.institutional {
  padding: 60px 0;
  width: 100%;
}

.institutional .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.institutional-image {
  float: left;
  width: 50%;
  height: 50%;
}

figure img {
  margin: 0;
  width: 100%;
  height: auto;
}

.institutional-content {
  float: right;
  width: 40%;
}

.institutional-content h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.institutional-content h2 {
  font-size: 25px;
}

.institutional-content p {
  font-size: 17px;
  line-height: 27px;
}

/* Parallax */
.parallax {
  padding: 60px 0;
  width: 100%;
}

.parallax .container {
  display: flex;
  justify-content: flex-end;
}

.parallax-content {
  width: 50%;
  background-color: var(--light);
  float: right;
  padding: 50px;  
}

.parallax-content h2 {
  margin: 0 0 30px;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
}

.parallax-content small {
  font-size: 15px;
  line-height: 23px;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .statistics-item {
    margin: 0 30px;
  }

  .statistics-item h2 {
    font-size: 30px;
  }

  .statistics-item small {
    font-size: 18px;
  }

  .institutional-image {
    width: 50%;
    height: auto;
  }

  .institutional-image img {
    max-width: 100%;
    height: auto;
  }

  .institutional-content {
    width: 430px;
    margin-top: 20px;
  }

  .parallax-content {
    width: 50%;
  }

  .parallax-content h2 {
    font-size: 62px;
  }
}

@media (max-width: 992px) {
  .banner-content {
    width: 60%;
  }

  .banner-content p {
    width: 50%;
  }

  .banner-content h2 {
    font-size: 62px;
  }

  .statistics-item {
    margin: 0 10px;
  }

  .statistics-item small {
    font-size: 16px;
  }

  .statistics-item h2 {
    font-size: 30px;
  }

  .institutional-image {
    width: 40%;
    height: auto;
  }

  .institutional-image img {
    max-width: 100%;
    height: auto;
  }
  
  .institutional-content {
    width: 400px;
    margin-top: 0px;
  }

  .institutional-content h3 {
    margin: 0 0 10px 0;
    font-size: 12px;
  }

  .institutional-content h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .institutional-content p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .parallax-content h2 {
    font-size: 48px;
  }

  .parallax-content small {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 100vh;
    display: flex !important;
  }

  .banner .container {
    display: flex;
    justify-content: center;
  }

  .banner-content {
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0, .8);
    border-radius: 25px;
  }

  .banner-content p:first-child {
    display: none;
  }

  .banner-content p:nth-child(2) {
    display: inline-block;
    width: 90%;
  }

  .banner-content p span {
    font-size: 16px;
    font-weight: bold;
  }

  .banner-content h2 {
    font-size: 48px;
  }

  .statistics {
    padding: 40px 0;
  }

  .statistics .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .statistics-item {
    padding: 10px 0;
    text-align: center;
  }

  .institutional .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .institutional-content {
    width: 80%;
    margin-top: 20px;
    text-align: center;
  }

  .institutional-image {
    width: 80%;
  }

  .parallax .container {
    display: flex;
    justify-content: center;
  }

  .parallax-content {
    width: 70%;
    padding: 60px;  
    text-align: center;
  }
}

@media (max-width: 480px) {
  .banner {
    display: flex;
    align-items: center;
  }

  .banner-content {
    width: 100%;
    height: 100%;
  }

  .banner-content p:nth-child(2) {
    font-size: 10px;
    align-self: flex-start;
  }

  .parallax-content {
    width: 80%;
    padding: 20px;
  }

  .parallax-content h2 {
    font-size: 36px;
  }
}

