
	<header class="header">
		<nav class="header-wrapmenu">
			<a href="#menu" class="btnMenu-open"><i class="fas fa-bars"></i></a>
			<a class="btnMenu-close"><i class="fas fa-times"></i></a>

			<ul id="menu" class="menu">
				<li class="WrapMenuItem">
					<a href="/" class="WrapMenuItem-action">Home</a>
				</li>
				<li class="WrapMenuItem">
					<a href="/company" class="WrapMenuItem-action">Empresa</a>
				</li>
				<li class="WrapMenuItem">
					<a href="/events" class="WrapMenuItem-action">Eventos</a>
				</li>
				<li class="WrapMenuItem">
					<a href="/depoiments" class="WrapMenuItem-action">Depoimentos</a>
				</li>
				<li class="WrapMenuItem">
					<a href="/contact" class="WrapMenuItem-action">Contato</a>
				</li>
			</ul>
		</nav>

		<div class="container">
			<div class="header-logo">
				<img src="assets/images/logo.png" alt="Studion Eventos">
			</div>
			
			<nav class="header-menu">
				<a href="/">Home</a>
				<a href="/company">Empresa</a>
				<a href="/events">Eventos</a>
				<a href="/depoiments">Depoimentos</a>
				<a href="/contact">Contato</a>
			</nav>
		</div>
	</header>